<header>
    <h1 class="title">LA PIZZERIA</h1>
	<nav class="navb">
		<ul>
			<li>
				<button type="button" class="btn btn-secondary mt-2">
				<a href="@Url.Action("Index", "Pizza")">Home</a>
				</button>
			</li>
			<li>
				<button type="button" class="btn btn-secondary mt-2">
				<a href="@Url.Action("Create", "Pizza")">Crea nuova pizza</a>
				</button>
			</li>
		</ul>
	</nav>
</header>


