<header>
    <h1 class="title">LA PIZZERIA</h1>
	<nav>
		<ul>
			<li>
				<a href="@Url.Action("Index", "Pizza")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Create", "Pizza")">Crea nuova pizza</a>
			</li>
		</ul>
	</nav>
</header>


